@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ring: 0 0% 10%;
}
* {
  @apply outline-none;
}
*:focus-visible {
  @apply ring-2 ring-gray-900/10 rounded-md;
}
